.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  margin: 0 5px;
  

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  .custom-button{
    min-width: 50%;
    min-height: 50px;
    height: auto;
    align-items: center;
    width: 80%;
    opacity: 0.7;
    position: absolute;
    bottom: 35px;
    line-height: normal;
    padding-bottom: 3px;
    display:none;
  }
  &:hover{
    .image{
      opacity: .8;
    }
    .custom-button{
      opacity: .85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    // margin:0 10px;

    .name {
      width: 85%;
      margin-bottom: 15px;
    }

    .price {
      width: 20%;
      text-align: right;
    }
  }
}
